#ulid{
    list-style-type: none;
    float: left;
    margin-top: 100;
}

#ulid li{
    margin-left: 5px;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 12px 18px;
    text-align: center;
    background: #dadada;
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition-duration: 0.4s;
}

li:hover{
    scale:1.2;
    color: #006a98;
}

#navdiv{
    background: #45b1e1;
    width: 200px;
    height: 723px;
}

#navdiv2{
    background: #45b1e1;
    width: 200px;
    height: 1100px;
}

#quantemid{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 100px;
    /*background-color: aqua;*/

}

#topnav li{
    list-style-type: none;
    margin-left: 80px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 12px 18px;
    text-align: center;
    background: #dadada;
    color: rgb(0, 0, 0);
    font-size: 15px;
    float: left;
    transition-duration: 0.4s;
}

#topnav li:hover{
    background-color: #188ec1;
    color: aliceblue;
}    

a{
    text-decoration: none;
    color: black;
}

.frame1 {
    display: flex;
    flex-direction: row;
    margin-left: 225px;
}

#actionnav li{
    list-style-type: none;
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 15px 40px 15px 40px;
    text-align: center;
    background: #dadada;
    color: rgb(0, 0, 0);
    font-size: 15px;
    float: left;
    transition-duration: 0.4s;
}

.frame2 {
    display: flex;
    flex-direction: row;
    margin-left: 225px;
    margin-top: 20px;
}

table{
    border: 1px solid #dadada;
}

td{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}


#ttable{
    max-height: 400px;
    overflow-y: auto;
}

#ttable table {
    width: 100%;
}

#ttable thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #74a9ff;
    padding: 10px 25px;
    table-layout: fixed;
    height: 20px;  
}




.frame3 {
    display: flex;
    flex-direction: row;
    margin-left: 225px;
    margin-top: 20px;
    margin-right: 20px;
    background:#dadada;
    height: 100px;
}

.frame4 {
    display: flex;
    flex-direction: row;
    margin-left: 225px;
    margin-top: 20px;
}

#div1{
    margin-left: 20px;
    margin-top: 20px;
}

.frame5 {
    display: flex;
    flex-direction: row;
    margin-left: 225px;
    background-color: aliceblue;
    height: 1900px;
}

.frame6 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#actionnav2 li{
    list-style-type: none;
    margin-left: 50px;
    margin-top: -55px;
    margin-right: 10;
    margin-bottom: 0;
    padding: 15px 30px 15px 30px;
    text-align: center;
    background: #dadada;
    color: rgb(0, 0, 0);
    font-size: 15px;
    float: right;
    transition-duration: 0.4s;
}

.frame7{
    display: flex;
    flex-direction: row;
    margin-left: 225px;
    background-color: aliceblue;
    height: 1000px;
}

.frame7 div input{
    margin-top: 10px;
    padding: 10px 510px;
    background-color: azure;
    border-color: #dadada;
}

::placeholder {
    text-overflow: unset; /* Remove text truncation */
}

textarea{
    margin-top: 10px;
    background-color: azure;
    border-color: #dadada;
}

.frame1 div input{
    margin-top: 10px;
    padding: 10px 510px;
    background-color: azure;
    border-color: #dadada;
}


/* Footer CSS */

footer{
    display: flex;
    flex-direction: row;
    background-color: #f6fcff;
    margin-left: 225px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    height: 70px;
    width: 1220px;
    position:fixed;
    left: 0;
    bottom: 0;
}

footer a{
    color:#45b1e1
}